**/node_modules/
**/.env
**/keys/
**/*.key
**/*.pem
**/cert.crt
**/cert.key
**/.update-backups/
**/.update-keys/
**/server.log
/v3
/v2
/v1
/build
/novabyte-v3-build
**/.cache/
**/.dist/
/NBOSP/cache/
/NBOSP/dist/
.github
**/ca.crt
**/ca.trusted
/NBOSP/data/
/NBOSP/js/purify.min.js
/NBOSP/.zcode
/NBOSP/.vs
/NBOSP/graphify-out
/NBOSP/.graphifyignore